.active {
  color: #fff700;
}

.inactive {
  color: #000;
}
.star-rating {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f5f2f2;
}
